MONGO_URI=mongodb+srv://dulanachathurma99_db_user:Tb70cnQwomnJByAk@cluster0.4gdsixq.mongodb.net/taskflow?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=taskflow_secret_key_2024
PORT=5000
NODE_ENV=development